<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master-view}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div layout:fragment="content">

            <div class="card w-50 m-auto">
                <div class="card-body m-5">
                    <form class="row" action="/usuarios/store" method="post">
                        <h1 class=" col-lg-12 h3 mb-3 fw-normal text-center">Nuevo Usuario</h1>

                        <div class="mt-3 col-lg-12">
                            <label >Nombre</label>
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre del Usuario">
                        </div>
                        <div class="mt-3 col-lg-12">
                            <label >Direccion</label>
                            <input type="text" class="form-control" name="direccion" placeholder="Dirección del Usuario">
                        </div>

                        <div class="mt-3 col-lg-12">
                            <label>Telefono</label>
                            <input type="text" class="form-control" name="telefono"  placeholder="Teléfono del Usuario">
                        </div>

                        <div class="mt-3 col-lg-12">
                            <label>Correo</label>
                            <input type="text" class="form-control" name="correo"  placeholder="Correo del Usuario">
                        </div>

                        <div class="col-lg-12 d-flex justify-content-center mt-5">
                        <button class=" btn btn-lg btn-primary" type="submit">Crear</button>
                        </div>
                    </form>
                </div>
            </div>

    </div>

</body>
</html>