<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master-view}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div layout:fragment="content">

    <div class="card w-50 m-auto">
        <div class="card-body m-5">
            <form class="row" action="/web/transactions/store" method="post">
                <h1 class=" col-lg-12 h3 mb-3 fw-normal text-center">Nuevo Movimiento de Dinero</h1>
                <div class="mt-3 col-lg-12">
                    <label >Fecha</label>
                    <!--<input type="text" class="form-control" name="fecha" placeholder="Fecha del Movimiento">-->
                    <input class="form-control" type="date" name="fecha" step="1" min="2013-01-01" max="2050-12-31" value= th:text="${#temporals.format(localDate, 'yyyy-MM-dd')}">
                </div>

                <div class="mt-3 col-lg-12">
                    <label >Concepto</label>
                    <input type="text" class="form-control" name="concepto" placeholder="Concepto del Movimiento">
                </div>

                <div class="mt-3 col-lg-12">
                    <label >Monto</label>
                    <input type="text" class="form-control" name="monto" placeholder="Monto del Movimiento">
                </div>
<!--
                <div class="mt-3 col-lg-12">
                    <label >Usuario</label>
                    <select class="form-control" name="usuario" id="usuario">
                        <option selected>Seleccione usuario</option>
                        <option th:each = "usuario : ${usuarios}" th:text="${usuario.nombre}"></option>
                    </select>
                </div>

                <div class="mt-3 col-lg-12">
                    <label >Empresa</label>
                    <select class="form-control" name="empresa" id="empresa">
                        <option selected>Seleccione empresa</option>
                        <option th:each = "empresa : ${empresas}" th:text="${empresa.nombre}"></option>
                    </select>
                </div>
-->
                <div class="mt-3 col-lg-12">
                    <label >Usuario</label>
                    <select class="form-control" name="usuario">
                        <option th:each="usuario : ${usuarios}"
                                th:value="${usuario.id}"
                                th:text="${usuario.nombre}">
                            Usuario
                        </option>
                    </select>
                </div>

                <div class="mt-3 col-lg-12">
                    <label >Empresa</label>
                    <select class="form-control" name="empresa">
                        <option th:each="empresa : ${empresas}"
                                th:value="${empresa.id}"
                                th:text="${empresa.nombre}">
                            Usuario
                        </option>
                    </select>
                </div>

                <div class="col-lg-12 d-flex justify-content-center mt-5">
                    <button class=" btn btn-lg btn-primary" type="submit">Crear</button>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
</html>