<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master-view}">
<head>
    <meta charset="UTF-8">
    <title>SGIE</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5>
                            <a href="/web/transactions" class="card-link">Sistema de Gestión de Ingresos y Egresos</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5>
                            <a href="/web/users" class="card-link">Sistema de Gestión de Usuarios</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5>
                            <a href="/web/enterprises" class="card-link">Sistema de Gestión de Empresas</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>